name: Build & Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
           registry: ghcr.io
           username: ${{ github.actor }}
           password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build backend image
        run: docker build -f docker/backend.Dockerfile -t ghcr.io/${{ secrets.GHCR_USER }}/lims-backend:latest .

      - name: Build frontend image
        run: docker build -f docker/frontend.Dockerfile -t ghcr.io/${{ secrets.GHCR_USER }}/lims-frontend:latest .

      - name: Push images
        run: |
          docker push ghcr.io/${{ secrets.GHCR_USER }}/lims-backend:latest
          docker push ghcr.io/${{ secrets.GHCR_USER }}/lims-frontend:latest
